.anim.fade-up{
  transform: translateY(50px);
  opacity:0;
  transition:0.4s ease-in-out 0.2s;
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span{
    display:inline-block;
  }
}
.anim.start.fade-up{
  opacity:1;
  transform: translateY(0px);
}
.anim.fade{
  opacity:0;
  transition:0.4s ease-in-out 0.3s;
}
.anim.fade.start{
  opacity:1;
}