.button-wrapper{
  display:flex;
  justify-content: center;
  margin:20px 0;
}
.button{
  text-decoration: none!important;
}

/*** style 1 *****/

.button.style-1{
  background-color:$primary-color;
  color:white;
  padding:20px 30px;
  font-size:14px;
  line-height:14px;
  overflow: hidden;
  position:relative;
  z-index:0;
}
.button.style-1::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:block;
  background-color:rgba(0,0,0,0.2);
  z-index:-1;
  transform: translateY(100%);
  transition:0.28s ease-in-out;
}
.button.style-1:hover::after{
  transform: translateY(0);
}
@media(min-width:993px){
  .button.style-1{
    font-size:16px;
    line-height:16px;
  }
}

/***** style 2 *****/

.button.type-2{
  border:5px solid $primary-color;
  display:block;
  position:relative;
  width:100%;
  max-width:345px;
  text-align:center;
  font-size:16px;
  color:#686868;
  font-weight:500;
  line-height:28px;
  padding:15px 30px;
  overflow:hidden;
  transition:all 0.28s ease-in-out;
}
.button.type-2::before{
  content:"";
  position:absolute;
  right:15px;
  font-family: "Font Awesome 5 Free", "FontAwesome";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  transition:all 0.28s ease-in-out;
  top:50%;
  margin-top:-8px;
}
.button.type-2::after{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:$primary-color;
  content:"";
  z-index:-1;
  transform: translateY(100%);
  transition:all 0.18s ease-in-out;
}
.button.type-2:hover::after{
  transform: translateY(0);
}
.button.type-2:hover{
  color:white;
}
.button.type-2:hover::before{
  transform: translateX(5px);
}
section.dark .button.type-2{
  background-color:white;
  border:none;
}
section.dark .button.type-2:hover{
  color:$primary-color;
}
section.dark .button.type-2::after{
  display:none;
}