.quote{
  border:5px solid #00b86d;
  padding:15px;
  max-width:800px;
  margin:auto;
}
.quote p{
  text-align:center;
  margin:0;
}
.quote p strong{
  color:#00b86d;
}
@media(min-width:768px){
  .quote{
    padding:20px;
  }
}