// Colors
// =================================================
$brand-primary: #153FA6;

$primary-color: #00B86D;
$seconday-color: #EFEFE5;
$accent:#FF8800;
$secondary-accent: #7BBBBB;


figure{
  margin:0;
  padding:0;
}
@media(min-width:769px){
  br.sp-only{
    display:none;
  }
}

.btn-primary {
  color: #fff;
  background-color: #00B86D;
  border-color: #00B86D;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: darken($color: #00B86D, $amount: 0.4);
  border-color: darken($color: #00B86D, $amount: 0.4);
}